<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<br><button><%= link_to 'Show', @project %> </button> |
<button><%= link_to 'Back', projects_path %></button>
<!-- 
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
 -->