<div class="project_container">
<% current_user.projects.each do |project|%>
  <div>
    User:<%= project.user_id %>
    <%= project.user.first_name %>,<hr>
  </div>

  <div class="col-lg-3">
    <div class="well">
      <div class="p_title">
        Project: <%= project.id %>,
        <%= project.project_title %>
      </div>

    </div>
  </div>
    
  <div class="col-lg-9">

    <div class="p_desc">
      <h3><strong>project_description</strong></h3>
      <p><%= project.project_description %></p>
    </div>
    <div class="project_actions">
      <button><%= link_to 'Show', project %></button>
      <button><% if can? :update, project %><%= link_to 'Edit', edit_project_path(project) %><% end %></button>
      <button><% if can? :destroy, project %><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></button>
    </div><br><!-- project actions end -->

    <div class="task_container well" style="background-color: #fcfedf"> 
    <h3><strong>Tasks :</strong></h3><br>

    <div class="task_main">
        <!-- Task Starts -->
      <% project.tasks.each do |task| %>
        <div class="t_name well" style="background-color: white">
          Task: <%= task.id %>,
          <h4><b><%= task.name %></b></h4>
        </div>

        <div>            
            <b>Subject:</b>     <%= task.subject %><br>
            <b>Due Date: </b>   <%= task.due_date %><br>
            <b>Status: </b>     <%= task.status %><br>
            <b>Description:</b> <p><%= task.description %></p><br>
        </div>
        <div class="task_actions">

          <!-- /posts/:post_id/comments/:id -->
        <td><%= link_to 'Show', [task.project, task] %></td>
        <!-- /posts/:post_id/comments/:id/edit -->
        <td><%= link_to 'Edit', edit_project_task_path(task.project, task)%></td>
        <!-- /posts/:post_id/comments/:id -->
        <td><%= link_to 'Destroy', [task.project, task], :confirm => 'Are you sure?', :method => :delete %></td>

        </div><br>
      <% end %>
      </div> 
      </div><br><!--Task end--> 
      <!-- Attachments -->
      <div class="asset_container">
        <h4><strong>Attachments :</strong></h4><br>  
        <div class="well">
          <% if project.asset?%>
            <%= image_tag project.asset.url(:small) %><br>
            <%= link_to project.asset_file_name, project.asset.url %>
          <% end %>
        </div>
      </div><br> <!-- Attachments end -->      
  </div> 
<% end %><br>
</div><!-- project container ends -->


<div class="button" style="text-align: center;">
  <button class="well" style="background-color:lightgreen">
    <b><%= link_to 'New Project', new_project_path %></b>
  </button>
</div><br>
