<style type="text/css">
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  p{
    padding-top: 5px;
  }
</style>


<p id="notice"><%= notice %></p>

<p>
  <strong>Project title:</strong>
  <%= @project.project_title %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>
<button>
  <% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
</button>
<button>
  <%= link_to 'Back', projects_path %>
</button>

 

