<p id="notice"><%= notice %></p>

<p>
  <strong>Project title:</strong>
  <%= @project.project_title %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
 
<%= link_to 'Back', projects_path %>
