<style type="text/css">
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  p{
    padding-top: 5px;
  }
</style>


<p id="notice"><%= notice %></p>

<p>
  <strong>Project title:</strong>
  <%= @project.project_title %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @project.project_description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user %>
</p>

<p>
  <strong>Attachment :</strong>
  <% if @project.asset?%>
    <%= image_tag @project.asset.url(:small) %><br>
    <%= link_to @project.asset_file_name, @project.asset.url %>
  <% end %>
</p>
<!-- 
<button>
  <% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
</button>
<button>
  <%= link_to 'Back', projects_path %>
</button>
 -->

<!-- /projects/:project_id/tasks/ -->
<%= link_to 'Tasks', project_tasks_path(@project) %> |
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

 

