<%= form_for(save_sell_btc_path, local: true ) do |form| %>

  <div class="container1" <%= controller_name%> <%= action_name%> >
    <h1><strong>Sell BTC</strong></h1><hr>

    <div class="field" id="btc">
      <%= form.label :btc_amount %>
      <%= form.number_field :btc_amount, :class=> 'btc', :scale => 2, step: :any %>
    </div>

    <div class="field" id="inr">
      <%= form.label :inr_amount %>
      <%= form.number_field :inr_amount, :class=> 'inr', :scale => 2, step: :any %>
    </div>


    <div>
      BTC Balance: <span id = "bal"><%= @bal%></span>
    </div>

    <div class="actions">
      <%= form.submit%>
    </div>
     
  </div>

<% end %>


<script>
  $(".btc").keyup(function(){
    $.ajax({
      type:"GET",
      url:"/currencies/1",
      dataType:"json",
      success:function(result){
        console.log(result.btc_inr);
        $(".inr").val( 
          (result.btc_inr * $(".btc").val()).toFixed(2)
          );
      }
    })
  });
  $(".inr").keyup(function(){ 
    $.ajax({
      type:"GET",
      url:"/currencies/1",
      dataType:"json",  
      success:function(result){
        console.log(result.btc_inr);
        $(".btc").val(
         (1 * $(".inr").val() / result.btc_inr).toFixed(8)
         );
      }
    })
  });

</script>


<style type="text/css">
  .container1 {
    position: relative;
    z-index: 1;
    background: #F0FFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  h1{ text-align: left; }
</style>