<%= form_for(save_sell_btc_path, local: true ) do |form| %>

  <div class="container1">
    <p id="msg"></p>

    <h1><strong>Sell BTC</strong></h1><hr>

    <div class="field" id="btc">
      <%= form.label :btc_amount %>
      <%= form.text_field :btc_amount, :class=> 'btc', :scale => 2, step: :any ,autocomplete: "off"%>
    </div>

    <div class="field" id="inr">
      <%= form.label :inr_amount %>
      <%= form.text_field :inr_amount, :class=> 'inr', :scale => 2, step: :any,autocomplete: "off" %>
    </div>

    <div style="text-align: left;">
      <b>INR Balance: </b><span id = "bal"><%= Wallet.first.inr_balance%></span> 
    </div>

    <div style="text-align: left;">
      <b>BTC Balance:</b> <span id = "bal"><%= @bal%></span> 
    </div>

    <div style="text-align: left;">
      <b>Remaining Balance:</b> <span id="else"></span>
    </div>

    <div class="actions">
      <%= form.submit "sell_btc" %>
    </div>
     
  </div>

<% end %>


<script>
  var btc_val = $('.btc').val();
  var inr_val = $('.inr').val();
  var btc_bal = <%= @bal%>;
  var inr_bal = <%= Wallet.first.inr_balance %>;
  var btc_pt  = <%= Currency.first.btc_inr%>;
  $("#else").html(btc_bal);


  $(".btc").keyup(function(){
    $.ajax({
      type:"GET",
      url:"/currencies/1",
      dataType:"json",
      success:function(result){
        // console.log(result.btc_inr);
        $(".inr").val( 
          (result.btc_inr * $(".btc").val()).toFixed(2)
          );
      }
    });

    $("#else").html(btc_bal - $('.btc').val());

    if (($('.btc').val() < 0.0001) ) {
      $("#msg").html("you need to sell between <b> <q> 0.0001 BTC </q></b> and <b><q> <%= Wallet.first.btc_balance %> BTC </q></b>");
      $('#msg').css('color','red');
      $("#msg").show();
      $(".actions").hide();
    }else{

        if(($('.btc').val() > btc_bal)){
          $("#msg").html("<i><b>you dont have a sufficient btc to sell</b></i>");
          $('#msg').css('color','red');
          $("#msg").show();
          $(".actions").hide();
          
          $("#else").show();
          if((btc_bal  - $('.btc').val())<0){
            $("#else").html(0);
          }else{
            $("#else").html(btc_bal  - $('.btc').val());
          }

        }else{
          $("#msg").hide();
          $(".actions").show();
        }

    }

  });

  $(".inr").keyup(function(){ 
    $("#else").html(inr_bal - $(".inr").val());

    $.ajax({
      type:"GET",
      url:"/currencies/1",
      dataType:"json",  
      success:function(result){
        $(".btc").val(
            (1 * $(".inr").val() / result.btc_inr).toFixed(8)
         );
      }
    });

    if(($(".inr").val() < 110.44 )){
      $("#msg").html("you need to sell between <b> <q> 110.44 BTC </q></b> and <b><q> <%= Wallet.first.inr_balance %> BTC </q></b>");
      $('#msg').css('color','red');
      $("#msg").show();
      $(".actions").hide();
    }else{
      if(($('.inr').val() > inr_bal)){
        $("#msg").html("you dont have a sufficient btc to sell");
        $('#msg').css('color','red');
        $("#msg").show();
        $(".actions").hide();
        $("#else").show();
        if( (btc_bal - ($('.inr').val() / btc_pt)) < 0 ){
          $("#else").html(0);
        }else{
          $("#else").html(inr_bal - $(".inr").val());
        }
      }else{
        $("#msg").hide();
        $(".actions").show();
        $("#else").html(inr_bal - $(".inr").val());
      }

    }

  });


</script>


<style type="text/css">
  .container1 {
    position: relative;
    z-index: 1;
    background: #F0FFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  h1{ text-align: left; }
</style>


