<style type="text/css">
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  table {
    padding: 1px auto; 
    margin :auto;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th{
    background-color:  #00f29f;
  }
/*tr:nth-child(even) {background-color:lightgray;}*/
</style>



<h1>Currency_type: INR </h1>

<table>
  <thead>
    <tr>
      <th>BTC per Transaction</th>
      <th>Transaction Type</th>
      <th>Transaction date</th>     
      <th>inr_amount</th>
      <th>inr_balance</th>
      <th>currency_status</th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_histories.each do |transaction_history| %>

      <tr>
        <% if transaction_history.currency_type == 'inr'%>
        <td><%= transaction_history.btc_per_transaction%></td>
        <td><%= transaction_history.transaction_type%></td>
        <td><%= transaction_history.created_at.time%></td>
        <td><%= transaction_history.inr_amount%></td>
        <td><%= transaction_history.inr_balance%></td>
        <td><%= transaction_history.currency_status%></td>
        <% end %>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Currency_type: BTC </h1>

<table>
  <thead>
    <tr>
      <th>BTC per Transaction</th>
      <th>Transaction Type</th>
      <th>Transaction date</th>
      <th>btc_amount</th>
      <th>btc_balance</th>
      <th>currency_status</th>
    </tr>
  </thead>

  <tbody>
    <% @transaction_histories.each do |transaction_history| %>
      <tr>
        <% if transaction_history.currency_type == 'btc'%>
        <td><%= transaction_history.btc_per_transaction%></td>
        <td><%= transaction_history.transaction_type%></td>
        <td><%= transaction_history.created_at.time%></td>
        <td><%= transaction_history.btc_amount%></td>
        <td><%= transaction_history.btc_balance%></td>
        <td><%= transaction_history.currency_status%></td>      
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>


<%#= link_to 'buy_btc', buy_btc_path %>

