<!DOCTYPE html>
<html>
<head>
  <title>approved projects</title>
  <!-- JS libraries -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- JS libraries end -->

  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css">
 
  <!-- custom JS end --> 
  <style type="text/css">
  /* high chart styles */
    #container {
      height: 400px;
      margin: 0 auto;
      min-width: 310px; 

      border-width: 1px;
      border-style: dotted;
      border-color: black;
    }
    .highcharts-title {
        fill: #434348;
        font-weight: bold;
        letter-spacing: 0.3em;
        font-size: 3em;
    }
    /* End high chart styles*/

    /* table styles */
    table {
      align-self: center;
      padding: auto; 
      margin : 0 auto;
    }
    th, td {
      text-align: center;
      padding:0 150px;
    }
    th{
      background-color:  #00f29f;
    }
    tr:nth-child(even) {background-color:lightgray;}
  </style>
</head>
<body>
  <!-- for high chart area -->
  <h1><%= @object.email %>,Approved Projects Graph</h1>
  <div id="container"></div><br>

  <h1 style="padding-left: 10px"><%= @object.email %>, Approved Projects</h1><br>
  <table>
    <tr>
      <th>User id</th>
      <th>Project id</th>
      <th>Project title</th>
    </tr>

    <tr>
      <% @object.projects.each do |project|  %>
      <%# @result.each do |project|%>
        <% if project.approved == true %>
       <tr>
            <td><%= project.user_id %></td>
            <td><%= project.id%></td>
            <td><%= project.project_title %></td>
          </tr>
        <% end %>
      <% end %>
    </tr>
  </table>
  <div style="min-width: 310px; height: 400px; "></div>

<!-- custom JS -->
  <script>
   $(function () { 
        var myChart = Highcharts.chart('container', {
            chart: { zoomType: 'x'},
            title: {
              text: '<%= @object.first_name.capitalize%>,Approved Projects'
            },
            xAxis: {
              title: { text: 'List of Projects' }
            },
            yAxis: {
              categories: <%= CreditChecker.ids.count %>,
              title: { text: 'Count' }
            },
            tooltip: {
              formatter: function() {
              return 'count : <b>' + this.x + ',<br> </b>'+this.series.name +' id: <b>' + this.y + '</b>';
              },
              backgroundColor: '#FCFFC5',
              borderColor: 'black',
              borderRadius: 10,
              borderWidth: 3
            },
            plotOptions: {
              column: { borderRadius: 5 },
              series: {
                label: { connectorAllowed: false },
                pointStart: 1
              }
            },
            series: [ {
                name: 'Approved Projects',
                data: <%= Project.where("approved = true AND user_id = ?",@object.id).ids %>
            }],
            responsive: {
              rules: [{
                condition: { maxWidth: 500 },
                chartOptions: {
                  legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                  }
                }
              }]
            }
        });//high chart end
    });//function end
  </script>
  
</body>
</html>