<!DOCTYPE html>
<html>
<head>
  <title>approved projects</title>
  <!-- JS libraries -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <!-- JS libraries end -->

  <!-- custom JS -->
  <script>
   $(function () { 
        var myChart = Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Projects Details'
            },
            xAxis: {
                title: {
                  text: 'no. of projects'
                }
            },
            yAxis: {
                title: {
                    text: 'count'
                }
            },
            tooltip: {
            
              shared: true,
              useHTML: true,
              headerFormat: '<small>count id: {point.key}</small><table>'
              ,pointFormat: '<tr><td style="color: {series.color}">{series.name} id : </td>' +
                      '<td style="text-align: left;"><b>{point.y} </b></td></tr>',
              footerFormat: '</table>',
              //valueDecimals: 2,

                  //simple string format
              // formatter: function() {
              // return 'count : <b>' + this.x + ',<br> </b>'+this.series.name +' id: <b>' + this.y + '</b>';
              // },
              //crosshairs: [true, false],
              backgroundColor: '#FCFFC5',
              borderColor: 'black',
              borderRadius: 10,
              borderWidth: 3
            },
            // legend: {

            //     layout: 'vertical',
            //     align: 'right',
            //     verticalAlign: 'middle'
            // },
             plotOptions: {
                  series: {
                      label: {
                          connectorAllowed: false
                      },
                      pointStart: 1
                  }
              },
                
            series: [ {
                name: 'Approved Projects',
                data: <%= Project.where("approved = true").ids%>
            }, {
                name: 'Un Approved Projects',
                data: <%= Project.where("approved = false").ids%>
                          
                //<%= CreditChecker.where("user_id =? AND project_id =?",@object.id,35).count%>
            },{
                name: 'list of credit_checkers',
                data: <%= CreditChecker.ids%>//
            }
            ],
             responsive: {
                  rules: [{
                      condition: {
                          maxWidth: 500
                      },
                      chartOptions: {
                          legend: {
                              layout: 'horizontal',
                              align: 'center',
                              verticalAlign: 'bottom'
                          }
                      }
                  }]
              }

        });//high chart end

       

    });//function end

  </script>

  <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css">
 
  <!-- custom JS end --> 
  <style type="text/css">
  /* high chart styles */
    #container {
      height: 400px;
      margin: 0 auto;
      min-width: 310px; 

      border-width: 1px;
      border-style: dotted;
      border-color: black;
    }
    .highcharts-title {
        fill: #434348;
        font-weight: bold;
        letter-spacing: 0.3em;
        font-size: 3em;
    }
    .highcharts-subtitle {
        font-family: 'Courier New', monospace;
        font-style: italic;
        fill: #7cb5ec;
    }*//* End high chart styles*/
      
      /* table styles */
    
    table {
      align-self: center;
      padding: auto; 
      margin : 0 auto;
    }
    th, td {
      text-align: left;
      padding:0 150px;
    }
    th{
      background-color:  #00f29f;
    }
    tr:nth-child(even) {background-color:lightgray;}
  </style>
</head>
<body>
  <!-- for high chart area -->
  <h1><%= @object.first_name.capitalize%>,Approved Projects</h1>
  <div id="container"></div><br>

  <h1 style="padding-left: 10px"><%= @object.email %>, Approved Projects</h1><br>
  <table>  
    <tr>
      <th>User id</th>
      <th>Project id</th>
      <th>Project title</th>
    </tr>

    <tr>
      <% @result.each do |project|%>
        <% if project.approved == true %>
          <tr>
            <td><%= project.user_id %></td>
            <td><%= project.id%></td>
            <td><%= project.project_title %></td>
          </tr>
        <% end %>
      <% end %>
    </tr>
  </table>
  <div id="container" style="min-width: 310px; height: 400px; "></div>
</body>
</html>