<!DOCTYPE html>
<html>
<title>User Balance Sheet </title>
<head>
  <!-- library javascript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <!-- library js end -->

  <!-- custom JS -->
  <script>
    $(function () { 
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'user balance sheet'
            },
            xAxis: {

                
                // categories: ['Apples', 'Bananas', 'Oranges']
            },
            yAxis: {
                // title: {
                //     text: 'Fruit eaten'
                // }
            },
            // series: [{
            //     name: 'Jane',
            //     data: [1, 0, 4]
            // }, {
            //     name: 'John',
            //     data: [5, 7, 3]
            // }]
        });
    });
  </script>
  <!-- custom JS end -->

  <!-- table styles -->
  <style type="text/css">
    table {
      /*padding: auto; */
      /*margin :auto;*/
    }
    th, td {
      text-align: center;
      padding:0 100px;
    }
    th{
      background-color:  #00f29f;
    }
    tr:nth-child(even) {background-color:lightgray;}
  </style>
  <!-- table styles end -->
</head>
<body>
  <!-- for high chart area -->
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; border-width: 2px;border-style: dotted;border-color: blue"></div>

  <!-- for table data -->
  <div class="container">
  <h1><%= @object.email %>, Balance Sheet</h1>
  <table>
    <tr>
      <th>Email</th>
      <th>Amount</th>
      <th>Credit/Debit</th>
      <th>Balance</th>
    </tr>

    <tr>
      <% @object.credit_checkers.each do |cc|%>

          <tr>
            <td><%= @object.email %></td>
            <td><%= cc.amount %></td>
            <td><%= cc.account_status %></td>
            <td><%= cc.balance%></td>
          </tr>

      <% end %>
    </tr>
  </table>
  </div>

</body>
</html>