<%= form_with(model: credit_checker, local: true) do |form| %>
  <% if credit_checker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_checker.errors.count, "error") %> prohibited this credit_checker from being saved:</h2>

      <ul>
      <% credit_checker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :count %><br>
    <%= form.text_field :count %>
  </div>

  <div class="field">
    <%= form.label :history %><br>
    <%= form.text_field :history %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
