
<style type="text/css">
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  table {
    padding: 1px auto; 
    margin :auto;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th{
    background-color:  #00f29f;
  }
tr:nth-child(even) {background-color:lightgray;}
</style>

<!-- <p id="notice"><%#= notice %></p> -->

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Admin</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <!-- <td><%= organization.admin %></td> -->
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
