<style type="text/css">
  body{
    background-color: lightyellow;
    text-align: center;
    width: 100%;
  }
  p{
    padding-top: 5px;
  }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<!-- <p>
  <strong>Admin:</strong>
  <%= @organization.admin %>
</p> -->

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
