<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
 -->
<!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
    <div class="container">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div><br>

        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, autofocus: true,autocomplete: "last_name" %>
        </div><br>

        <div class="field">
          <%= f.label :date_of_birth %>
          <%= f.date_field :date_of_birth %>
        </div><br>

        <div class="field"><%= f.label :Gender %>
          <%= f.radio_button :is_female, false, :class => 'radio-inline' %> Male
          <%= f.radio_button :is_female, true, :class => 'radio-inline' %>Female
        </div><br>

         <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
        </div><br>

         <div class="field">
            <%= f.label :phonenum %>
            <%= f.text_field :phonenum, autofocus: true %>
          </div><br/>


        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div><br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>
        Currently waiting confirmation for: <%= resource.unconfirmed_email %> 
        </div><br />
      <% end %>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %><br>

        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %><br>

        <i>(leave blank if you don't want to change it)</i>

        

      </div><br />

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div><br />

      <div class="field">
        <%= f.label :current_password %> 
        <%= f.password_field :current_password, autocomplete: "off" %><br>
        <i>(we need your current password to confirm your changes)</i>   
        </div><br>

       <!--  <div class="actions">
           <%= f.submit "Update" %>
        </div> -->
        <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
  </div>

        <% end %>
      </div>

      <div class="cancel_account">
        <h4>Cancel my account</h4>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>
        <button><%= link_to "Back", :back%></button>
      </div><br>

      
    </div><br>
 </body>
 </html> 



