<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div><br/>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autofocus: true %>
  </div><br/>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.date_field :date_of_birth %>
  </div><br/>

  <div class="field">
    <%= f.label :Gender %>
    <%= f.radio_button :is_female, false, :class => 'radio-inline' %> Male
    <%= f.radio_button :is_female, true, :class => 'radio-inline' %>Female
  </div><br/>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true %>
  </div><br/>

  <div class="field">
    <%= f.label :phonenum %>
    <%= f.text_field :phonenum, autofocus: true %>
  </div><br/>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div><br/>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %><br/
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div><br/>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div><br/>

<% end %>

<%= render "users/shared/links" %>
